:root[data-mode='light'] {
  --shiki-token-constant: #4c4f69;
  --shiki-token-string: #40a02b;
  --shiki-token-comment: #fe640b;
  --shiki-token-keyword: #8839ef;
  --shiki-token-parameter: #e64553;
  --shiki-token-function: #1e66f5;
  --shiki-token-string-expression: #40a02b;
  --shiki-token-punctuation: #7c7f93;
}

:root[data-mode='dark'] {
  --shiki-token-constant: #cdd6f4;
  --shiki-token-string: #a6e3a1;
  --shiki-token-comment: #fab387;
  --shiki-token-keyword: #cba6f7;
  --shiki-token-parameter: #eba0ac;
  --shiki-token-function: #89b4fa;
  --shiki-token-string-expression: #a6e3a1;
  --shiki-token-punctuation: #9399b2;
}